@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.gnb {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: levels.$GNB;
  background-color: colors.$WHITE;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-bottom: 1px solid colors.$GRAYD;

  a {
    font-size: 18px;
    font-weight: 700;
    color: colors.$PRIMARY;
  }
}

.navBar {
  border-bottom: 1px solid colors.$GRAYD;

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  li {
    position: relative;
    width: 25%;
    padding: 12px;
    text-align: center;
  }

  a {
    font-weight: 700;
    color: colors.$GRAY1;
    transition: color 0.2s ease-in-out;

    &.isActive {
      color: colors.$PRIMARY;
    }
  }

  .indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    background: colors.$PRIMARY;
    transition: transform 0.2s ease-in-out;
  }
}
