@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';

.background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: levels.$MODAL;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: colors.$WHITE;

  .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .closeButton {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px;
  }

  .controller {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 16px;
    color: colors.$GRAY3;

    button {
      padding: 8px;
      margin: 0 10px;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
      fill: colors.$GRAY9;
    }
  }
}
